body {
    background-color: brown;
}
#translation {
    /* this element contains the items to arrange so it should be a flex box */
    display:flex;
    
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.chineseItem {
    max-width: 150px;
    background-color: beige;
    border-radius: 10%;
    text-align: center;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}
.character {
    background-color: black;
    height: 20%;
    border-color: black;
    color: white;
    text-align: center;
    border-radius: 10%;
}
.pinyin {
    font-weight: bold;
}
.english {
    font-style: italic;
}